<div class="work-history">
  <div *ngFor="let project of projects" class="job-card">
    <a href="{{project.Link || '#'}}" (click)="onProjectClick($event, project)" target="_blank" rel="noopener noreferrer"> 
    <div class="position-row">
      <h2>{{ project.Title }}</h2>
      <div class="spacer"></div>
      <span class="right arrow"></span>
    </div>
        <ul class="project-description">
          <li *ngFor="let bullet of project.Description">{{ bullet }}</li>
        </ul>
    <div *ngFor="let skill of project.Languages" class="pill">
      <span class="pill-text">{{ skill }}</span>
    </div>
    <!-- taking this out for now -->
    <!-- <img [src]="project.Photo" alt="{{ project.Title }}" class="project-image" /> -->
     </a>
  </div>
</div>
<!-- snackbar -->
<div class="snackbar" *ngIf="snackbarMessage">{{ snackbarMessage }}</div>
