<div class="spotlight-overlay"></div>
<div class="container">
  <div class="fixed-sidebar">
    <div class="sidebar-inner"> 
    <div class="name">Mihir Sangameswar</div>
    <div class="title">Software Engineer</div>
    <div>I build a little bit of everything</div>
    <div class="gap"></div>
    <app-navbar></app-navbar>

    <div class="spacer"></div>
    <app-social-media></app-social-media>
    </div>
  </div>

  <div class="content">
    <section id="work-history" style="height: 1000px;">
      <app-work-history></app-work-history>
    </section>
    <section id="projects" style="height: 1000px;">
      <app-projects></app-projects>
    </section>
    <!-- <section id="contact" style="height: 500px;">
      <app-contact></app-contact>
    </section> -->
    <footer>
      <div class="footer-content">
        <p>Built with Angular by Mihir Sangameswar</p>
        <p>Page Design Inspo by <a href="https://brittanychiang.com" target="_blank" rel="noopener noreferrer">Brittany Chiang</a></p>
      </div>
    </footer>
  </div>
</div>